<h1>Demo#hello</h1>
<p>Hello world!</p>

<%= 2 + 3 %>
<br />

<% target = "world" %>
<%= "Hello #{target}" %>
<br />

<% 3.times do %>
	<%= "xxx" %>
<% end %>
<br />

<% @array.each do |n| %>
	<%= n %><br />
<% end %>